.carte {
  border: 2px solid black;
  border-radius: 8px;
  padding: 20px;
  box-shadow: 0 2px 8px black;
  background-color: white;
}

.grille{
  display: grid;
  gap: 20px;
  grid-template-columns: repeat(auto-fill, minmax(300px, 1fr))
}

.score {
  font-size: larger;
  font-weight: bold;
}